@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=DM+Sans:wght@400;500;700&family=Heebo&family=Inter:wght@400;700&display=swap');


.goal_add {
    margin-left: 25px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.goal_add-input {
    width: 300px;
    border: none;
    color: #413F3F99;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.goal_add-input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.goal_add-btn {
    font-family: 'Inter';
    text-transform: uppercase;
    transition: all ease 0.3s;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    width: 80px;
    height: 20px;
    border: 1px solid rgb(102, 100, 100);
    border-radius: 5px;
}

.goal_add-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #73727299;
}