@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=DM+Sans:wght@400;500;700&family=Heebo&family=Inter:wght@400;700&display=swap');

.goal {
    max-width: 350px;
}
.goal_folder {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 25px;
    margin-bottom: 30px;
}

.app_container .goal:not(:last-child) {
    margin-bottom: 40px;
}

.goal_folder-border {
    width: 100%;
    height: 1px;
    background-color: rgba(188, 188, 196, 0.44);
}

.goal_folder-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.goal_goal-number {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    background-color: #000;
}

.goal_folder-arrow , .goal_folder-arrow-reverse {
    height: 8px;
}

.goal_folder-arrow:hover {
    cursor: pointer;
}

.goal_folder-arrow-reverse {
    transform: rotate(180deg);
}

.goal_folder-arrow-reverse:hover {
    cursor: pointer;
}

.hide {
    display: none;
}